h1 Add Book 

form(action="/books/add", method="POST")
  div
    label Title
    span &nbsp;
    input(type="text", name="title")
    
  div
    label Description
    span &nbsp;
    input(type="text", name="description")
    
  button Add