h1 Create

form(action="/transactions/create", method="POST")
  label User
  span &nbsp;
  select
    option Hong
  
  span &nbsp;
  button Create
  
form(action="/transactions/create", method="POST")
  label Book
  span &nbsp;
  select
    option Conan
  
  span &nbsp;
  button Create

 

