h1 Transactions

ul
  each item in transactions
    li
      span Id:
      span &nbsp;
      span= item.id
      br
      span User Id:
      span &nbsp;
      span= item.userId
      br
      span Book Id:
      span &nbsp;
      span= item.bookId
      
      